body {
  background-color: rgb(31, 30, 30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  margin-top: 5vh;
  color: white;
}
.tools {
  display: flex;
  justify-content: space-between;
  width: 75vw;
  font-weight: bold;
  flex-wrap: wrap;
}

.canvas {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 88vw;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 5vh;
}

.actions {
  display: flex;
  justify-content: space-between;
  width: 75vw;
}
button {
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

#clear {
  background-color: rgb(212, 62, 11);
}

#download {
  background-color: rgb(45, 140, 5);
}

#clear:hover {
  background-color: rgb(192, 2, 2);
}

#download:hover {
  background-color: rgb(60, 188, 5);
}
#scale {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin-top: 2vh;
  background-color: rgb(31, 30, 30);
  margin-bottom: 2vh;
}

.color {
  justify-content: space-between;
  height: 40px;
  width: 40px;
  border-radius: 20px;
  cursor: pointer;
  border: 2px solid aliceblue;
}

#tipScale {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin-top: 2vh;
  background-color: rgb(31, 30, 30);
}
#point {
  justify-content: space-around;
  background-color: black;
  cursor: pointer;
  border: 2px solid aliceblue;
}

.tip1px {
  height: 8px;
  width: 8px;
  border-radius: 5px;
}
.tip2px {
  height: 10px;
  width: 10px;
  border-radius: 5px;
}
.tip3px {
  height: 13px;
  width: 13px;
  border-radius: 8px;
}
.tip4px {
  height: 15px;
  width: 15px;
  border-radius: 8px;
}
.tip5px {
  height: 18px;
  width: 18px;
  border-radius: 10px;
}
.tip6px {
  height: 20px;
  width: 20px;
  border-radius: 10px;
}
footer{
  margin-top: 5vh;
  display: flex;
  text-align: center;

}
a{
  color: white;
  text-decoration: none;
  margin-left: 10vw;
  margin-right: 10vw;
}